@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer base {
  body {
    background-color: #030712;
    color: white;
    font-family: var(--font-geist-sans);
  }
}

@layer components {
  /* Real Rails Glassmorphism Cards */
  .rr-card {
    background-color: #0B1117;
    border: 1px solid #1F2937;
    backdrop-filter: blur(8px);
  }
  
  /* Active element glow */
  .rr-glow {
    box-shadow: 0 0 2px #38BDF8;
  }
}
